[submodule "puppet-modules/apache"]
	path = puppet-modules/apache
	url = https://github.com/camptocamp/puppet-apache.git
[submodule "puppet-modules/php"]
	path = puppet-modules/php
	url = https://github.com/treehouseagency/puppet-php.git
[submodule "puppet-modules/mysql"]
	path = puppet-modules/mysql
	url = https://github.com/DavidS/puppet-mysql.git
[submodule "puppet-modules/pear"]
	path = puppet-modules/pear
	url = https://github.com/treehouseagency/puppet-pear.git
[submodule "puppet-modules/varnish"]
	path = puppet-modules/varnish
	url = https://github.com/camptocamp/puppet-varnish.git
[submodule "puppet-modules/memcached"]
	path = puppet-modules/memcached
	url = https://github.com/saz/puppet-memcached.git
